/* Reset default Vite styles to avoid conflict with our custom App.css */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ecf0f1;
  /* Light gray background */
}